<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>牌局记录</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="vui-f13 vui-g9 vui-pl20 vui-pt10" *ngIf="record">
    创建时间：{{record.datetime | date:'yyyy-MM-dd HH:mm:ss'}}
  </div>
  <ion-item class="record-item" lines="none" no-padding *ngIf="record">
    <div class="vui-col vui-no-padding">
      <div class="record-sum-wrap">
        <div class="record-sum-item"
             *ngFor="let item of record.sums"
             [ngClass]="{ 'record-zz': record.banker && record.banker.id === item.partner.id }">
          <dl class="vui-row vui-align-items-center record-plus" *ngIf="item.diff>0">
            <dt>{{item.partner.name}}</dt><dd>+{{item.diff}}</dd>
          </dl>
          <dl class="vui-row vui-align-items-center record-diff" *ngIf="item.diff===0">
            <dt>{{item.partner.name}}</dt><dd>{{item.diff}}</dd>
          </dl>
          <dl class="vui-row vui-align-items-center record-diff" *ngIf="item.diff<0">
            <dt>{{item.partner.name}}</dt><dd>{{item.diff}}</dd>
          </dl>
          <div class="record-zzi" *ngIf="record.banker && record.banker.id === item.partner.id">
            <span>庄</span>
          </div>
        </div>
      </div>
    </div>
  </ion-item>
</ion-content>
