<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{party.value?.title}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="party.done && party.value">
      <ion-button (click)="presentModal()"><ion-icon name="add"></ion-icon></ion-button>
      <ion-button [routerLink]="['/statistic/' + party.value.id]"><ion-icon name="clipboard"></ion-icon></ion-button>
      <ion-button (click)="presentActionSheet()"><ion-icon name="menu"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="party.done && party.value">
    <ion-list class="records-list">
      <ion-item-sliding *ngFor="let record of party.value.records; let i = index;">
        <ion-item>
          <div class="vui-col vui-padding-top vui-padding-bottom">
            <div class="vui-row vui-no-padding">
              <div class="vui-col vui-col-fluid vui-mt10 vui-ml5">
                <ng-container *ngFor="let item of record.sums">
                  <ion-badge class="vui-mr5" color="light">
                    <dl class="vui-row vui-align-items-center record-plus" *ngIf="item.diff>0">
                      <dt>{{item.partner.name}}&nbsp;</dt><dd>+{{item.diff}}</dd>
                    </dl>
                    <dl class="vui-row vui-align-items-center record-diff" *ngIf="item.diff===0">
                      <dt>{{item.partner.name}}&nbsp;</dt><dd>{{item.diff}}</dd>
                    </dl>
                    <dl class="vui-row vui-align-items-center record-diff" *ngIf="item.diff<0">
                      <dt>{{item.partner.name}}&nbsp;</dt><dd>{{item.diff}}</dd>
                    </dl>
                  </ion-badge>
                </ng-container>
              </div>
              <!--<div class="record-win">
                <ion-badge color="primary">{{record.win.name}}</ion-badge>
              </div>-->
              <div class="vui-col-static vui-f12 vui-g9 vui-align-self-bottom">
                <span class="record-datetime">{{record.datetime | date:'HH:mm:ss'}}</span>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="secondary" (click)="remove(record)">删除</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div class="vui-tc vui-mt20" *ngIf="party.value.records.length == 0; else fab" padding>
      <ion-button color="secondary" size="large" (click)="presentModal()">添加记录</ion-button>
    </div>
  </ng-container>
  <ng-container *ngIf="!party.done">
    <div class="vui-tc" padding>
      <ion-spinner></ion-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="party.failed">
    <div class="vui-mt20 vui-tc">
      <p>{{party.err}}</p>
      <ion-button color="secondary" (click)="party.reload()">
        <ion-icon name="refresh"></ion-icon>&nbsp;重新加载
      </ion-button>
    </div>
  </ng-container>
  <ng-template #fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()" color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-content>
